// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	text-align: center;
	
}


h1{
  
  margin: auto;
  color: white;
  padding-top: 5px;
  background-color: #4885ed;
  border: 1px solid black;
  margin-bottom: 30px;
  width: 300px;
  height: 25px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px 5px 5px;
  }

  .new{
  	
  	background-color: yellow;
    border: 1px solid black;
    border-radius: 4px 4px 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }

  .objet{

    font-size: 16px;
  }